/* Estilos padrão */
.login {
    background-color: #121212;
}

.login .esqueceu-sua-senha {
    color: transparent;
    font-family: "Inter-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
}

.login .span {
    color: #ffffff;
}

.login .text-wrapper-3 {
    color: #0558f6;
}

.login .text-wrapper-4 {
    color: #0558f6;
    text-decoration: underline;
}

.login .entrar {
    height: 59px;
    left: 45px;
    width: 342px;
}

.login .div-wrapper {
    background-color: #0558f6;
    border-radius: 15px;
    height: 59px;
    position: relative;
    width: 340px;
}

.login .div-wrapper:active {
    background-color: #033da8;
    transform: scale(0.95); /* Reduz o tamanho da div em 5% quando clicada */
}

.login .text-wrapper-5 {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    left: 140px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 18px;
    white-space: nowrap;
}

/* Estilos para dispositivos com largura de tela menor ou igual a 600px (interface mobile) */
@media screen and (max-width: 600px) {
    .login .div-2 {
        width: 100%;
    }

    .login .entrar {
        left: 10px;
        top: 540px;
        width: calc(100% - 20px);
    }

    .login .imput-usurio,
    .login .imput-senha-instance,
    .login .component-2 {
        left: 10px !important;
        position: relative !important;
        top: 10px !important;
        width: calc(100% - 20px) !important;
    }

    .login .logo {
        height: 100px;
        left: 50%;
        transform: translateX(-50%);
        top: 20px;
        width: auto;
    }
}
